<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Member_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-member_id" data-rule="required" data-source="MemberInfo/index" class="form-control selectpage" name="row[member_id]" type="text" value="" data-order-by='id' data-field='member_name'>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_amount" data-rule="required" class="form-control" step="0.0001" name="row[pay_amount]" type="number" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" data-rule="required" class="form-control" step="0.0001" name="row[amount]" type="number" value="" disabled="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('First_user')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-first_user" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[first_user_id]" type="text" disabled="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('First_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-first_rate" data-rule="required" class="form-control" step="0.0001" name="row[first_rate]" type="number" value="" disabled="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('First_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-first_amount" data-rule="required" class="form-control" step="0.0001" name="row[first_amount]" type="number" value="" disabled="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Second_user')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-second_user" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[second_user_id]" type="text" disabled="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Second_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-second_rate" data-rule="required" class="form-control" step="0.0001" name="row[second_rate]" type="number" value="" disabled="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Second_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-second_amount" data-rule="required" class="form-control" step="0.0001" name="row[second_amount]" type="number" value="" disabled="true">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
